@import url('https://fonts.cdnfonts.com/css/audiowide');

@font-face {
  font-family: 'Audiowide';
  src: url('https://fonts.cdnfonts.com/s/15406/Audiowide-Regular.woff');
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1,
h2,
h3,
li,
p,
span 
{
  font-family: 'Audiowide', sans-serif;
}

.hidden {
  display: none
}

canvas:focus {
  outline: none;
}

#infoButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 5rem;
  height: 5rem;
  font-size: x-large;
}

#infoButton.active {
  color: rgb(0, 255, 128);
  box-shadow: 0 0 20px rgb(0, 255, 128),
    0 0 40px rgb(0, 255, 128),
    0 0 60px rgb(0, 255, 128),
    0 0 80px rgb(0, 255, 128),
    0 0 120px rgb(0, 255, 128),
    0 0 220px rgb(0, 255, 128),
    0 0 320px rgb(0, 255, 128);
  transition: 500ms;
}

#howTo-Screenshots {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.howTo-singleScreenshot {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border-style: outset;
  border-width: 1px;
}

#devInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}